@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --var-color-default: #03345c;
  --var-color-white: #fbf2e5;
  --var-color-btn: #fc6378;
  --var-msg-correct: #52e9a8;
  --var-msg-incorrect: #fc6873;
  --var-color-background: #d9d9e1;



  /* theme game-designer*/
  --var-color-game-brown: #592D4A;
  --var-color-game-pink: #D989BD;
  --var-color-game-pink-dark: #A65398;
  --var-color-game-lilac: #51358C;
  --var-color-game-white: #F2F2F2;
  --var-color-yellow: #EABC24;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  caret-color: transparent;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.whats-answer {
  display: flex;
  color: var(--var-color-yellow);
  width: 180px;
  text-transform: uppercase;
  border-bottom: 5px solid var(--var-color-yellow);
  padding-bottom: 5px;
}

.layout-game {
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  width: 100vw;
  height: 100%;
  background-image: url('../assets/imgs/background3.jpeg');
  background-position: center;
}

.question-database {
  padding: 70px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
  max-width: 80vw;
  height: 90vh;
  margin-top: 30px;
  box-shadow: 0px 0px 15px 5px white
}

.button-question {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--var-color-default);
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin: auto;
  margin-top: 20px;
}

.button-question:hover {
  cursor: pointer;
}

.icon-question {
  margin: auto;
  display: flex;
  font-size: 70px;
  justify-content: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(255, 255, 255);
  background: linear-gradient(to bottom, var(--var-color-btn), #f8c96b); 
  color: var(--var-color-white);
  width: 100px;
  height: 100px;
  border-radius: 50px;
  font-weight: bolder;
  animation: 5s;
}

.question {
  display: flex;
  width: 80%;
  font-size: 26px;
  font-weight: 600;
  padding: 20px;
  color: var(--var-color-background);
  font-weight: 800;
}

.responses {
  flex: 2;
}

.response {
  display: flex;
  align-items: center;
  color: var(--var-color-game-white);
  max-width: 900px;
  padding: 5px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 20px;
  transition: 0.5s ease all;
}

.response:hover {
  cursor: pointer;
  transform: translateY(-10px);
  color: var(--var-color-game-pink-dark);
  border: none;
}

.response p {
  flex: 1;
  text-align: left;
  font-size: 30px;
}

.option {
  display: block;
  background-color: var(--var-color-default);
  color: var(--var-color-background);
  font-weight: 700;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid var(--var-color-white);
}

.space-red {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #dc143c;
  border-radius: 50%;
  left: 50%;
}

.data {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  max-width: 1400px;
  margin: auto;
}

.score-area {
  color: var(--var-color-background);
  display: flex;
  flex-direction: column;
  justify-content: start;
  display: flex;
  align-items: center;
  width: 100%;
  flex: 1;
}

.title-points {
  font-weight: bold;
  margin-top: 2em;
  text-transform: uppercase;
}

/* modal confirmation*/
.focus-modal {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
}

.focus-modal-true {
  display: flex;
}

.show-modal {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width:500px;
  text-transform: uppercase;
  height: 350px;
  background-color: #F2F2F2;
  color: #A65398;
  flex-direction: column;
  border-radius: 10px;
  padding: 2em;
  align-items: center;
}

.show-modal-quiz {
  display: none;
}

.confirm-show-modal {
  font-size: 2em;
}

.modal-btns {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-modal {
  padding: 15px;
  border-radius: 2px;
  color: #51358C;
  border-radius: 5px;
}

.btn-modal:hover {
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.btn-confirm {
  border: 2px solid #53c996;
  transition: 0.5s all;
}
.btn-confirm:hover {
  background-color: #53c996;
  transition: 0.5s all;
}

.btn-cancel {
  border: 2px solid #dc143c;
  transition: 0.5s all;
}
.btn-cancel:hover {
  background-color: #dc143c;
  transition: 0.5s all;
}


/** modal score **/
.show-modal-points-active {
  display: flex;
}

.focus-modal-points {
  position: absolute;
  display: none;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
}

.show-modal-points {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width:500px;
  height: 350px;
  background-color: #F2F2F2;
  color: #A65398;
  flex-direction: column;
  border-radius: 10px;
  padding: 2em;
  align-items: center;
}

.btn-continue {
  color: #592D4A;
  border: 2px solid #592D4A;
  transition: 0.5s all;
}

.btn-continue:hover {
  color: #F2F2F2;
  background-color: #592D4A;
  transition: 0.5s all;
}

.score {
  font-size: 5em;
  color: #51358C;
}

.points {
  font-size: 1.5em;
  color: var(--var-color-background);
  font-weight: bold;
}

.total-points {
  font-size: 2.5em;
  color: var(--var-color-background);
  font-weight: bold;
}

.timer {
  font-size: 5em;
  font-weight: bold;
  margin-top: 0.5em;
  color: var(--var-color-background);
}